<picture>
  {{ $isJPG := eq (path.Ext .image) ".jpg" }}
  {{ $isPNG := eq (path.Ext .image) ".png" }}
  {{ if ($isPNG) -}}
    <!-- this is a png -->
    {{ $avifPath:= replace .image ".png" ".avif" }}
    <source srcset="/{{ $avifPath | safeURL }}" type="image/avif" >
    {{ $webpPath:= replace .image ".png" ".webp" }}
    <source srcset="/{{ $webpPath | safeURL }}" type="image/webp" >
  {{- end }}
  {{ if ($isJPG) -}}
    <!-- this is a jpg -->
    {{ $avifPath:= replace .image ".jpg" ".avif" }}
    <source srcset="/{{ $avifPath | safeURL }}" type="image/avif" >
    {{ $webpPath:= replace .image ".jpg" ".webp" }}
    <source srcset="/{{ $webpPath | safeURL }}" type="image/webp" >

  {{- end }}

  {{ if (eq .enableLink "true") }}
    <a href="{{ .image | absURL }}">
      <img
        src="{{ .image | absURL }}"
        alt="{{ .altText }}"
        width="{{ .width }}"
        height="{{ .height }}"
        loading="lazy"
        decoding="async"
      />
    </a>
  {{ else }}
    <img
      src="{{ .image | absURL }}"
      alt="{{ .altText }}"
      width="{{ .width }}"
      height="{{ .height }}"
      loading="lazy"
      decoding="async"
    />
  {{ end }}
</picture>
