{{ define "main" }}

<section class="site-blog details">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <h1 class="site-contact-title">{{ .Params.heading | safeHTML }}</h1>
      </div>
      <div class="col-lg-7"/>
    </div>
    <div class="row justify-content-center">

      <div class="col-lg-8">
        <article class="site-blog-details">

          {{ .Content }}
        </article>
      </div>
    </div>
  </div>
</section>

{{ partial "team.html" . }}

{{ partial "partners.html" . }}

{{ partial "call-to-action.html" . }}

{{ end }}
